runner.py
runner_k2.py
Source/__pycache__/
Source/Base/__pycache__/
Source/K1/__pycache__/
Source/K2/__pycache__/
consideration_hub.csv
pareto_front_plot.png
pareto_front_pipelines.csv
snp_hub.csv
utopia_pipeline_test_results.csv
interaction_hub.csv
.DS_Store
generation_details.csv
pareto_validation_plot.png
Source/K2/ld_check.py
Source/K2/mdr_check.py
Source/K2/simulated_data_peaks.py
Source/K2/COMPONENT_SNP_ARCHITECTURE.md